.btn{
    cursor: pointer;
    font-size: 12px;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    &--orange{
        background-color: $bgr-orange;
        padding: 8px 38px;
        color: $text-white;
    }
    &--border-gray{
        border: 1px solid #EBEBF0;
        padding: 8px 32px;
        color: $text-black-dark;
        background-color: $bgr-white
    }
    &--icon-text{
        @include flexbox(center);
        gap: 20px;
        padding: 8px 12px;
        font-weight: 500;
        // color: $text-gray;
    }
    & svg {
        path{
          fill: currentColor; 
        }
    }
}