@mixin flexbox($align: flex-start, $justify: flex-start, $wrap: nowrap,$dir: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction:  $dir;
}

@mixin dotText($line-clamp:2 ) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
}