$bgr-white: #FFFFFF;
$bgr-white-medium: #F5F5F5;
$bgr-white-medium-1: #EBEBF0;
$bgr-orange: #F65E5D;
$text-black: #28293D;
$text-black-medium: #252627;
$text-black-dark: #1C1C28;
$text-white: #FFFFFF;
$text-gray: #8F90A6;


$width: 640px;