body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #28293D;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F65E5D;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F65E5D;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h6 {
  font-weight: 700;
  font-size: 16px;
  color: #1C1C28;
}

h4 {
  font-size: 24px;
}

.wrapper {
  max-width: 640px;
  margin: 0 auto;
}

.container {
  width: 100%;
  padding: 32px 24px 16px 32px;
  background-color: #F5F5F5;
}

.header {
  margin-top: 33px;
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}

.header__input {
  width: 372px;
}

.header__select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer {
  padding: 18px 24px;
  background-color: #FFFFFF;
}

.list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.list-btn__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 26px;
}

.list-btn__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-center-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text-strong {
  font-weight: 700;
}

.text-doc-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.btn {
  cursor: pointer;
  font-size: 12px;
  border: none;
  font-weight: 600;
  border-radius: 4px;
}

.btn--orange {
  background-color: #F65E5D;
  padding: 8px 38px;
  color: #FFFFFF;
}

.btn--border-gray {
  border: 1px solid #EBEBF0;
  padding: 8px 32px;
  color: #1C1C28;
  background-color: #FFFFFF;
}

.btn--icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  padding: 8px 12px;
  font-weight: 500;
}

.btn svg path {
  fill: currentColor;
}

.input {
  border-radius: 3px;
}

.input__search::-webkit-input-placeholder {
  color: #8F90A6;
}

.input__search:-ms-input-placeholder {
  color: #8F90A6;
}

.input__search::-ms-input-placeholder {
  color: #8F90A6;
}

.input__search::placeholder {
  color: #8F90A6;
}

.input__search:focus {
  border: 1px solid #EBEBF0;
  outline: 1px solid #EBEBF0;
}

.input__search {
  font-size: 14px;
  border: 1px solid #EBEBF0;
  padding: 8px 32px 8px 34px;
  width: 100%;
  background: #FFFFFF url("data:image/svg+xml,%3Csvg fill='gray' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' %3E%3Cpath d='M16.8906 16.0742L13.582 12.7656C13.5 12.7109 13.418 12.6562 13.3359 12.6562H12.9805C13.8281 11.6719 14.375 10.3594 14.375 8.9375C14.375 5.82031 11.8047 3.25 8.6875 3.25C5.54297 3.25 3 5.82031 3 8.9375C3 12.082 5.54297 14.625 8.6875 14.625C10.1094 14.625 11.3945 14.1055 12.4062 13.2578V13.6133C12.4062 13.6953 12.4336 13.7773 12.4883 13.8594L15.7969 17.168C15.9336 17.3047 16.1523 17.3047 16.2617 17.168L16.8906 16.5391C17.0273 16.4297 17.0273 16.2109 16.8906 16.0742ZM8.6875 13.3125C6.25391 13.3125 4.3125 11.3711 4.3125 8.9375C4.3125 6.53125 6.25391 4.5625 8.6875 4.5625C11.0938 4.5625 13.0625 6.53125 13.0625 8.9375C13.0625 11.3711 11.0938 13.3125 8.6875 13.3125Z'%3E%3C/path%3E%3C/svg%3E") no-repeat 12px center;
}

.select {
  padding: 8px 13px 8px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 7px;
}

.select__label {
  color: #8F90A6;
}

.select__sort {
  width: 100%;
  border: none;
  padding: 4px 0;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../images/sort.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
}

.select__sort:focus {
  outline: none;
}

.product-table {
  height: 400px;
  overflow: auto;
}

.product-table table {
  width: 100%;
  border-style: hidden;
}

.product-table table td,
.product-table table th {
  text-align: left;
  border-bottom: 1px solid #EBEBF0;
  padding: 16px 5px;
}

.product-table table th {
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
}

.product-table table td {
  vertical-align: middle;
}

.product-table__checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #c7c9d9;
  accent-color: #F65E5D;
}

.product-table__custom-checkbox {
  position: relative;
}

.product-table__custom-checkbox:checked::after {
  position: absolute;
  content: "";
  cursor: pointer;
  top: -1px;
  left: -1px;
  width: 16px;
  height: 16px;
  background: #F65E5D url(../images/Indeterminate.svg) no-repeat;
  background-position: 50% 100%;
  z-index: 2;
  border-radius: 3px;
}

.product-table__custom-checkbox.active::after {
  display: block;
}

.product-table__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.product-table__img {
  width: 40px;
  height: 40px;
}

.product-table__id {
  margin-top: 2px;
  font-size: 12px;
  color: #8F90A6;
}
/*# sourceMappingURL=main.css.map */